@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--features_items-->
 <div class="features_items">
    <h2 class="title text-center">Features Items</h2>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product1.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Yalnız Seni Arıyorum - Orhan Veli</p>
                    <h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product2.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Araba Sevdası - R. Mahmud Ekrem</p><h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product3.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Sarı Sıcak - Yaşar Kemal</p><h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product4.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Hoşgör Köftecisi - Orhan Veli</p><h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
                <img src="/images/home/new.png" class="new" alt="" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product5.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Tarık - A. Hamit Tarhan</p><h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
                <img src="/images/home/sale.png" class="new" alt="" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/home/product6.jpg" alt="" />
                    <h2>20₺</h2>
                    <p>Tutunamayanlar - Oğuz Atay</p><h6 class="text-primary">kitapkurdu</h6>
                    <a href="#" class="btn btn-default add-to-cart">İlanı Gör</a>
                </div>
            </div>
        </div>
    </div>

</div><!--features_items-->