@{
    ViewData["Title"] = "Home Page";
}


@await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("FeaturesItems")
@await Component.InvokeAsync("CategoryProducts")
<div class="col-sm-9 padding-right">
@await Component.InvokeAsync("CategoryTab")
</div>




<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>