@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @await Component.InvokeAsync("CategoryProducts")
        </div>
        <div class="col-sm-9 padding-right">
            @await Component.InvokeAsync("FeaturesItems")
            @await Component.InvokeAsync("CategoryTab")
            @await Component.InvokeAsync("RecommendedItems")
        </div>
    </div>
</div>




<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>