@model List<EntityLayer.Concrete.Book>
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append('file', file);

            $.ajax({
                type: 'POST',
                url: '/Advert/UploadImage',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('Dosya yükleme başarılı:', response);
                    if (response.success == false) {
                        Swal.fire({
                            icon: "error",
                            title: "Dosya yüklenirken bir hata oluştu!",
                            text: response.message
                        });
                    } else {
                        Swal.fire({
                            icon: "success",
                            title: "Dosya yükleme başarılı!",
                            text: response.message
                        });
                        var imageUrl = response.url;
                        document.getElementById('imageUrl').value = imageUrl;
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Dosya yükleme hatası:', error);
                    Swal.fire({
                        icon: "error",
                        title: "Dosya yüklenirken bir hata oluştu!",
                        text: response.message
                    });
                }
            });
        }
    </script>
}


<section id="cart_items">
    <div class="container">
        <div class="register-req">
            <p>İlgili alanları doldurarak yeni bir ilan oluşturabilirsiniz !</p>
        </div><!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="bill-to">
                        <div class="form-one">
                            <form method="post">
                                <input type="text" name="Title" placeholder="İlan Başlığı" required>
                                <input type="number" name="Price" placeholder="Fiyat" required>
                                <input type="text" name="Description" placeholder="Açıklama" required>
                                <select name="BookId">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <br />
                                <br />
                                <div class="order-message">
                                    <input type="file" name="file" id="fileInput" class="form-control file-upload-info">
                                    <span class="input-group-append">
                                        <br />
                                        <button class="file-upload-browse btn btn-gradient-primary" onclick="uploadFile()" type="button">Resim Yükle</button>
                                    </span>
                                </div>
                                <button class="btn btn-primary" type="submit">Oluştur</button>
                                <input type="text" style="opacity:0" name="Images" id="imageUrl" class="form-control file-upload-info" readonly="readonly">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#cart_items-->
<style>
    .form-two, .form-one {
        float: none;
        width: 100%;
    }
</style>