@model List<EntityLayer.Concrete.Writer>

<div class="brands_products">
    <!--brands_products-->
    <h2>Yazarlar</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#"> <span class="pull-right">(50)</span>Orhan Veli Kanık</a></li>
            <li><a href="#"> <span class="pull-right">(56)</span>Recaizade Mahmut Ekrem</a></li>
            <li><a href="#"> <span class="pull-right">(27)</span>Yaşar Kemal</a></li>
            <li><a href="#"> <span class="pull-right">(32)</span>Halide Edip Adıvar</a></li>
            <li><a href="#"> <span class="pull-right">(5)</span>Abdülhak Hamit Tarhan</a></li>
            <li><a href="#"> <span class="pull-right">(9)</span>Oğuz Atay</a></li>
            <li><a href="#"> <span class="pull-right">(4)</span>Cemal Süreyya</a></li>
        </ul>
    </div>
</div><!--/brands_products-->