<div class="container text-center" style="margin:50px auto">
	<div class="logo-404">
		<a href="/"><img src="/images/logo.png" alt="" /></a>
	</div>
	<div class="content-404">
		<img src="images/404/404.png" class="img-responsive" alt="" width="200px" />
		<h1><b>Böyle bir sayfa bulunamadı!</b> </h1>
		<h2><a href="/">Anasayfa'ya Dön'</a></h2>
	</div>
</div>
