@model EntityLayer.Concrete.User
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Hesabınızla giriş yapın</h2>
					<form method="post"  action="#">
						<input type="email" asp-for="EmailAddress" placeholder="E-mail Adresi" />
						<input type="text" asp-for="Password" placeholder="Şifre" />
						<span>
							<input type="checkbox" class="checkbox">
							Beni Hatırla !
						</span>
						<button type="submit" class="btn btn-default">Giriş Yap</button>
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">Veya</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>Bir hesabınız yok mu ?</h2>
					<form method="post" action="/Register/Index">
						<input type="text" asp-for="Name" placeholder="Ad Soyad" />
						<input type="text" asp-for="PhoneNumber" placeholder="Telefon Numarası" />
						<input type="email" asp-for="EmailAddress" placeholder="E-Mail Adresi" />
						<input type="password" asp-for="Password" placeholder="Şifre" />
						<button type="submit" class="btn btn-default">Kayıt Ol</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->